*::before, *, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    overflow: hidden;
}

.app-screen{

    width: 100%;
    height: 90vh;

    background-color: rgb(33, 36, 43);
    background-image: url(/img/wpp.jpg);
    display: flex;
    flex-direction: column; 

    position: relative;
    z-index: 1;
}

.app-screen .header{
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.055);

    position: relative;
    display: flex;
    z-index: 20;
}

.app-screen .header ul{
    list-style: none;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 1px;

    padding: 0 10px 0 10px;
}

.app-screen .header .ul-1{
    justify-content: flex-start;
}
.app-screen .header .ul-2{
    justify-content: flex-end;
}

.app-screen .header ul li{
    margin: 0 5px 0 5px;

    min-width: 30px;
    max-width: 100px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px;
}

.app-screen .header ul li,
.app-screen .header ul li a {
    text-decoration: none;

    color: rgb(220, 220, 220);
    font-family: sans-serif;
    font-size: 13px;
}

.app-screen .footer{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 50px;
    z-index: 20;
}

.app-screen .footer .dock{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 100%;

}

.app-screen .footer .dock ul{
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    min-width: 300px;
    height: 100%;

    border-radius: 5px 5px 0 0;

    background-color: rgba(0, 0, 0, 0.378);

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.556);

    list-style: none;
    padding: 0 35px 0 35px;
}

.app-screen .footer .dock ul li{
    width: 30px;
    height: 30px;

    /* background-color: rgba(250, 250, 250, 0.789); */
    margin: 0 13px 0 13px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    transition: 0.1s;

    bottom: 0;
}

.app-screen .footer .dock ul li:hover{
    bottom: 5px;
    transition: 0.1s;
}

.app-screen .footer .dock ul li a{
    text-decoration: none;
    position: relative;

    width: 100%;
    height: 100%;

    user-select: none;
}

.app-screen .footer .dock ul li img{
    width: 100%;
    height: 100%;

    position: relative;
}

.app-screen .screen-action{
    width: 100%;
    height: calc(100% - 90px);
    position: relative;

    /* background-color: rgba(89, 0, 255, 0.234); */
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}


.app-screen .screen-action .console{
    display: none;
    transition: 400ms;
}

.app-screen .screen-action .consolef{
    width: 50vh;
    height: 30vh;
    background-color: rgb(39, 39, 39);
    
    border-radius: 8px;
    
    padding: 50px 30px 10px 20px;
    
    position: relative;
    overflow: hidden;
    
    margin: 10px;
    display: flex;

    transition: 400ms;
}

/* shadow programs opened */

.app-screen .screen-action .shadow-apps{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.473);
}

/* header programs */

.app-screen .screen-action  .header{
    width: 100%;
    left: 0;
    top: 0;
    height: 30px;
    margin-bottom: 30px;

    position: absolute;
    }

.app-screen .screen-action .header ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.app-screen .screen-action .header ul li{
    max-height: 20px;
    height: 20px;
    min-height: 20px;

    min-width: 20px;
    width: 20px;
    max-width: 20px;

    position: relative;
}

.app-screen .screen-action .header ul li a{
    text-decoration: none;
    padding: 3px;
}

#close, #min, #max{
    border-radius: 60%;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#close{
    background-color: rgb(206, 51, 51);
}

#min{
    background-color: rgb(170, 170, 7);
}

#max{
    background-color: rgb(78, 148, 78);
}

/* console props */

.app-screen .screen-action .consolef p{
    color: rgb(143, 142, 151);
    font-family: sans-serif;
    font-size: clamp(13px, 1.2vw, 17px);

    letter-spacing: 1px;
}

.app-screen .screen-action .consolef p span{
    color: green;
}

.app-screen .screen-action .consolef p input{
    background-color: transparent;
    border: none;
    outline: none;
    color: green;
}

.app-screen .screen-action .consolef .linhas{
display: flex;
flex-direction: column;
line-height: 1.8;
width: 100%;
}

.app-screen .screen-action .consolef .linha1{
width: 100%;
white-space: nowrap;
}
.app-screen .screen-action .consolef .linha2{
width: 100%;
}


/* dropzones */

.dropzones{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.59); */
    position: absolute;
}

.dropzone{
    width: 50%;
    height: 50%;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: default;
}

.dropzoneg{
    width: 100%;
    height: 100%;
}

.dropzone:nth-child(1){
    left: 0;
    top: 0;
}
.dropzone:nth-child(2){
    top: 0;
    right: 0;
}
.dropzone:nth-child(3){
    bottom: 0;
    left: 0;
}
.dropzone:nth-child(4){
    bottom: 0;
    right: 0;
}

.highlight{
    background-color: #2a2a2e4d;
    border: 1px solid rgba(0, 0, 0, 0.111);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dropzone, .dropzoneg{
    transition: 400ms; 
}

.is-dragging{
    cursor: move;
    opacity: 1;
}
.over{
    background-color: rgba(135, 41, 41, 0.09);

}

.is-dragging{
}

/* browser */

.app-screen .screen-action .browser{
    display: none;
}

.app-screen .screen-action .browserf{
    width: 50vh;
    height: 30vh;
    background-color: rgb(255, 255, 255);
    
    border-radius: 8px;
    
    padding: 30px 0px 00px 0px;
    
    overflow: hidden;
    
    margin: 10px;
    
    align-items: center;
    justify-content: center;
    
    position: relative;
    
    transition: 400ms;
    display: flex;
}

.browserf .header{
    background-color: rgb(41, 45, 49);
}

.browserf .search{
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.083);
    border-radius: 30px;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.111);

    position: relative;
    bottom: 15px;

    overflow: hidden;
}

.app-screen .screen-action .browserf img{
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    height: 100%;
    position: relative;
    bottom: 0;
    left: 0;

    opacity: 100%;
}

.browserf input{
    width: 100%;
    height: 100%;

    position: relative;
    padding: 5px 10px 5px 10px;

    background-color: transparent;

    border: none;
    outline: none;

    color: #ffffff90;
}

.browserf input::placeholder{
    color: #ffffff90;
}


.browserf .img,
.browserg .img{
    max-width: 1000px;
}

.browserf .img img,
.browserg .img img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;

    object-fit: cover;
}

/* files window */

.file{
    display: none;
    transition: 400ms; 
}

.filef .header{
    background-color: rgba(26, 26, 26, 0.808);
}

.app-screen .screen-action .filef{
    display: flex;
    
    width: 50vh;
    height: 30vh;
    background-color: #2a2a2efd;
    
    border-radius: 8px;
    
    padding: 30px 0 0 0;
    
    overflow: hidden;
    
    margin: 10px;

    align-items: center;
    justify-content: center;

    position: relative;
    
    transition: 400ms; 
}

.filef .container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;

    position: relative;
}

.filef .container .top{
    width: 100%;
    height: 32px;

    background-color:rgb(50, 53, 56);

    display: flex;
    flex-direction: row;

    position: relative;
}

.filef .container .top ul{
    display: flex;

    list-style: none;
    flex-direction: row;
    
    position: relative;
}

.filef .container .top ul:nth-child(1){
    width: 50%;
    justify-content: flex-start;
}
.filef .container .top ul:nth-child(2){
    width: 50%;
    justify-content: flex-end;
}

.filef .container .top ul li{
    margin: 5px 10px 5px 10px;

    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px;
    border: 1px solid rgb(90, 90, 90);

    color: rgb(189, 189, 189);
    font-family: Arial;
    font-size: 13px;

    position: relative;

    border-radius: 4px;
}

.filef .container .mid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: relative;    
}
.filef .container .mid .left{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(59, 58, 61);

    padding: 10px;

    width: 200px;
    height: 100%;

    position: relative;
}

.filef .container .mid .left span{
    color: #d0d0d0b9;
    font-family: sans-serif;

    align-self: flex-start;

    margin: 10px;
}


.filef .container .mid .left .boxes{
    width: 100%;
    max-width: 100%;

    min-height: 100px;
    height: fit-content;

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f513;

    border: 1px solid rgba(158, 158, 158, 0.118);
    border-radius: 20px;

    margin: 5px;

    position: relative;
}

.filef .container .mid .left .boxes ul{
    list-style: none;
    
    width: 100%;
    
    position: relative;
}

.filef .container .mid .left .boxes ul li{
    color: rgb(152, 153, 158);
    font-size: 14px;
    font-family: Arial;

    margin: 20px 5px 20px 5px;

    display: flex;
    flex-direction: row;
}

.filef .container .mid .left .boxes ul li img{
    filter: invert(0.5);
    width: 19px;
    height: 19px;

    object-fit: contain;
}

.filef .container .mid .left .boxes ul li span{
    margin: 0 5px 0 5px;
}

.filef .container .mid .right{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 46, 54);

    width: calc(100% - 200px);
    height: 100%;

    position: relative;
    
}

.filef .container .bottom{
    width: 100%;
    height: 20px;

    background-color: rgb(30, 32, 36);

    display: flex;
    flex-direction: row;

}

.app-screen .screen-action .fileg, 
.app-screen .screen-action .browserg, 
.app-screen .screen-action .consoleg{
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
}


/* animation */

@keyframes toggle{
    from{
        opacity: 0%;
        bottom:  -20px;
        width: 0px;
        height: 0px;
        display: block;

    }
    to{
        opacity: 100%;
    }
}
