*::before, *, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100vh;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    overflow: hidden;
}

.app-screen{

    width: 95vw;
    height: 50vw;

    background-color: rgb(33, 36, 43);
    background-image: url(/img/wpp.jpg);
    display: flex;
    flex-direction: column; 

    position: relative;
    z-index: 1;
}

.app-screen .header{
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.055);

    position: relative;
    display: flex;
    z-index: 20;
}

.app-screen .header ul{
    list-style: none;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 1px;

    padding: 0 10px 0 10px;
}

.app-screen .header .ul-1{
    justify-content: flex-start;
}
.app-screen .header .ul-2{
    justify-content: flex-end;
}

.app-screen .header ul li{
    margin: 0 5px 0 5px;

    min-width: 30px;
    max-width: 100px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3px;
}

.app-screen .header ul li,
.app-screen .header ul li a {
    text-decoration: none;

    color: rgb(220, 220, 220);
    font-family: sans-serif;
    font-size: 13px;
}

.app-screen .footer{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 60px;
    z-index: 20;
}

.app-screen .footer .dock{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 100%;

}

.app-screen .footer .dock ul{
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    min-width: 300px;
    height: 100%;

    border-radius: 5px 5px 0 0;

    background-color: rgba(0, 0, 0, 0.378);

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.556);

    list-style: none;
    padding: 0 35px 0 35px;
}

.app-screen .footer .dock ul li{
    width: 40px;
    height: 40px;

    /* background-color: rgba(250, 250, 250, 0.789); */
    margin: 0 13px 0 13px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.app-screen .footer .dock ul li a{
    text-decoration: none;
    position: relative;

    width: 100%;
    height: 100%;
}

.app-screen .footer .dock ul li img{
    width: 100%;
    height: 100%;

    position: relative;
}

.app-screen .screen-action{
    width: 100%;
    height: calc(100% - 90px);
    position: relative;

    /* background-color: rgba(89, 0, 255, 0.234); */
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.app-screen .screen-action .console{
    width: 35vw;
    height: 20vw;
    background-color: rgb(39, 39, 39);

    border-radius: 8px;

    padding: 50px 30px 10px 20px;
    position: relative;

    overflow: hidden;

    margin: 10px;
}

.app-screen .screen-action .shadow-apps{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.473);
}

.app-screen .screen-action .console .header{
    width: 100%;
    left: 0;
    top: 0;
    height: 30px;
    margin-bottom: 30px;

    position: absolute;
    }

.app-screen .screen-action .console .header ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.app-screen .screen-action .console .header ul li{
    max-height: 20px;
    height: 20px;
    min-height: 20px;

    min-width: 20px;
    width: 20px;
    max-width: 20px;

    position: relative;
}

.app-screen .screen-action .console .header ul li a{
    text-decoration: none;
    padding: 3px;
}

#close, #min, #max{
    border-radius: 60%;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#close{
    background-color: rgb(206, 51, 51);
}

#min{
    background-color: rgb(170, 170, 7);
}

#max{
    background-color: rgb(78, 148, 78);
}

.app-screen .screen-action .console p{
    color: rgb(143, 142, 151);
    font-family: sans-serif;
    font-size: 1.2vw;

    letter-spacing: 1px;
}

.app-screen .screen-action .console p span{
    color: green;
}


/* dropzones */

.dropzones{
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.59); */
    position: absolute;
}

.dropzone{
    width: 50%;
    height: 50%;

    position: absolute;
}

.dropzone:nth-child(1){
    left: 0;
    top: 0;
}
.dropzone:nth-child(2){
    top: 0;
    right: 0;
}
.dropzone:nth-child(3){
    bottom: 0;
    left: 0;
}
.dropzone:nth-child(4){
    bottom: 0;
    right: 0;
}

.highlight{
    background-color: #1a1a1c4d;
    border: 1px solid rgba(41, 40, 40, 0.618);
}


.console, .dropzone{
    transition: 400ms;
}