*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Global variables
:root {
    --header-height: 3%;
    --footer-height: 6%;
    --mainScreen-height:
        calc(100% - calc(var(--header-height) + var(--footer-height)));

    --desktop-width: 1900px;
    --desktop-height: 900px;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;